yt-dlp
pytube
pillow
spotipy
aiohttp
aiofiles
tgcrypto
py-tgcalls==v2.0.3b2
python-dotenv
youtube-search-python
https://github.com/PyrogramMod/PyrogramMod/archive/refs/heads/main.zip
Flask==1.1.2
gunicorn==20.1.0
Jinja2==3.0.3
werkzeug==2.0.2
itsdangerous==2.0.1
